* {
  padding: 0;
  margin: 0;
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  box-sizing: border-box;
}
.begin {
  background-color: #d1d0cf;
}

.search_bar {
  width: 400px;
  margin-left: 150px;
  
}


.btn {
  width: 105px;
  height: 35px;
  margin-left: 1px;
  margin-top: 3px;
  
  
  
  
  
  
}
.login_margin {
  padding-left: 450px;
}

.reg {
  padding-left: 5px;
}

.display-4 {
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.btn-success {
  width: 140px;
}


.carousel-caption h5 {
  color: greenyellow;
  font-size: 25px;
}

.carousel-caption p {
  color: white;
}

.remedies_img, .gym_img,.nutri_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  
}

.remedies_text {
text-align: center;
}

.gym_text {
  text-align: center;
}

.nutri_text {
  text-align: center;
}

.walk-img{
  margin-top: 50px;
}
.feel-text {
  margin-top: 150px;
  text-align: center;
}

.btn-secondary {
  width: 350px;
  margin-left: 100px;
}


.testimony {
  margin-left: 30px;
  margin-top: 80px;
  line-height: 320%;
  text-align: center;
  
}
 .testimonyh1 {
  font-size: 90px;
  font-family: 'Brush Script MT', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
  
}

.client {
  font-size: 25px;
  margin-inline: -5px;
  font-family: lucida;
  margin-left: 25px;

 }

.col-3 {
  text-align: center;
}

.col-3:hover {
  border: solid 2px burlywood;
  background-color: powderblue;
  color: black;
}

.foot {
  background-color: #d1d0cf;
  margin-top: 40px;
  height:250px;
}

.sub-btn {
  height: 30px;
  margin-bottom: 6px;
}

.col-4 {
  padding-top: 20px;
}

.unordered {
  padding-right: 35px;
  text-align: right;
}

.unordered2 {
  padding-left: 1px;
}


.unordered, .unordered2 {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.6;
}



  .unordered li a, .unordered2 li a {
  text-decoration: none;
  color: black;
}

.days {
  
}


.fa-solid {
  width: 100px;
  height: 40px;
  border-color: cadetblue;
  line-height:1.6;
}

.icons {
  margin-left: 600px;
}

.fa-facebook {
  margin-left: 40px;
}

.fa-telegram {
  margin-left: 40px;
}

/*.main img {
  height: auto;
  width: 420px;
  margin-top: 4%;
}
.about-text {
  width: 550px;
}*/

/*.main {
  width: 100%;
  background-color: #d1d0cf;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.about-text h4 {
  color: #fab9ce;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.button {
  background: #315af7;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  align-items: center;
  transition: 0.4s;
}
.button:hover {
  background: transparent;
  border: 2px solid #315af7;
  cursor: pointer;
}*/
nav {
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 18px;
  padding-right: 8px;
  height: 180px;
}
.title {
  color: white;
  font-size: 38px;
  letter-spacing: 5px;
  cursor: pointer;
  margin-right: 20px;
  border: solid 2px;
  width: 380px;
  padding-left: 13px;
  
}
span {
  color: #1e59ff;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-top: 30px;
  align-items: flex-end;
}
nav ul li a {
  background-color: 0;
  color: red;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 0;
  font-weight: bold;
  padding: 10px 25px;
  transition: 0.4s;
  font-size: 20px;
}
nav ul li a:hover {
  background: transparent;
  border: 2px solid cadetblue;
  cursor: pointer;
}

/*footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #d1d0cf;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  font-size: 17px;
  color: white;
  width: 500px;
  text-align: center;
}
footer p:nth-child(3) {
  font-size: 17px;
  color: white;
  width: 500px;
  text-align: center;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}*/

button {
  background-color: #1e59ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #1e59ff;
}

span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  form {
    border: 3px solid #f1f1f1;
    border-radius: 2%;
  }
  .contents ul li {
    color: #1e59ff;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 5%;
    align-items: center;
  }
}
